$noticias-color: #db8112
$esportes-color: #339fa0
$entretenimento-color: #ad4890

h1
  text-transform: lowercase

.area-noticias
  a, h1
    color: $noticias-color

.area-esportes
  a, h1
    color: $esportes-color

.area-entretenimento
  a, h1
    color: $entretenimento-color

        
nav#nav-main
  +padding-leader(0)
  +padding-trailer(0)
  +float-right
    
  ul
    font-weight: bold
    line-height: 20px
    overflow: visible
    padding-top: 70px
    +float-right
    
    li
      float: left
      display: inline
      margin-left: 0
      line-height: 20px
      +font-size(20px)
      text-transform: lowercase
  
      a
        padding-left: 1em
        padding-right: 1em
        +inline-block
        font-weight: bold
        text-decoration: none
  
        &:active
  
        &:hover
          text-decoration: none