$noticias-color: #db8112
$esportes-color: #339fa0
$entretenimento-color: #ad4890
nav#nav-main
  +padding-leader(0)
  +padding-trailer(0)
  // +span-columns(6 omega,12)
    
  ul
    +font-size(30px)
    font-weight: bold
    line-height: 40px
    overflow: visible
    +float-right
    
    li
      float: left
      display: inline
      margin-left: 0
      line-height: 40px

      &.noticias
        a
          color: $noticias-color
      &.esportes
        a
          color: $esportes-color
      &.entretenimento
        a
          color: $entretenimento-color
  
      a
        padding-left: .5em
        padding-right: .5em
        +inline-block
        color: #333
        font-weight: bold
        text-decoration: none
  
        &:active
  
        &:hover
          text-decoration: none