@charset "utf-8"

@import "settings"
@import "compass"
@import "foundation"

@import "mixins"
@import "geral"
@import "header"
@import "footer"
@import "home"
@import "internas"


body
  background-color: #fff
  font-family: helvetica, verdana, arial, sans-serif
  // font-size: 13px

header#header
  border-bottom: 1px solid #ddd
  background-color: #fff
  +box-shadow(0 1px 5px rgba(0,0,0,.08))

  body.pagina-home &
    height: 120px



  #header-inner
    +outerRow
    height: 60px
    overflow: hidden

    body.pagina-home &
      height: 90px

    #logo
      width: 193px
      height: 24px
      display: block
      background: transparent image-url("logo-interna.png") 0 0 no-repeat
      +image-2x("logo-interna@2x.png", 193px, 24px)
      +hide-text
      position: absolute
      top: 20px
      
      a
        width: 193px
        height: 24px
        display: block
      
      body.pagina-home &
        width: 191px
        height: 79px
        top: 20px
        +image-2x("logo@2x.png", 191px, 79px)

        a
          width: 191px
          height: 79px




    #user-login
      +column(6)
      +push(6)
      padding-top: 12px
      
      .text
        +font-size(12)

      a
        color: #99d0d2
        
        &:hover
          color: #fff
          text-decoration: underline
      
      label
        color: #fff
        font-weight: bold
        +font-size(12)
      
      input
        margin: 0 0 4px 0
      
      .user-login-email
        +column(5)
        
      .user-login-password
        +column(5)
        
      .user-login-actions
        +column(2)
        padding-top: 15px



#content

  #content-inner
    +outerRow
    padding-bottom: 40px
  
    body.pagina-home &
      padding-top: 40px


a
  &:hover
    text-decoration: underline
    
.box
  background-color: #fff
  +box-shadow(0 1px 4px rgba(#000, .2))
  +pie-clearfix

  .box-header
    padding: 15px
    border-bottom: 1px solid #ccd3db
    background-color: #fafdfe
    
    h1
      color: #333
      +font-size(24)
      margin: 0

  .box-content