---
title: Biscoito Globo.com
---

#content-inner
  /! begin #destaques-noticias
  section.destaques-categoria.area-noticias
    header
      h1
        == link_to "Notícias", "/noticias", title: "Notícias"
  
    .destaque.destaque-secundario
      == link_to "/noticias-detalhes" do
        span.foto
          == image_tag("destaque-noticia.jpg", width: 300, height: 170)
        span.conteudo
          p Acidente com ônibus deixa 30 feridos no RJ: ‘Ele veio voado’, diz motorista
    /! end .destaque-terciario
  
    .destaque.destaque-terciario
      == link_to "/noticias-detalhes" do
        span.foto
          == image_tag("secundaria-noticias-01.jpg", width: 100, height: 65)
        span.conteudo
          p Caso do ‘morto-vivo’ que parou o próprio velório na BA repercute fora do país
    /! end .destaque-terciario
  
    .destaque.destaque-terciario
      == link_to "/noticias-detalhes" do
        span.foto
          == image_tag("secundaria-noticias-02.jpg", width: 100, height: 65)
        span.conteudo
          p Caso do ‘morto-vivo’ que parou o próprio velório na BA repercute fora do país
    /! end .destaque-terciario
  /! end #destaques-noticias
  
  
  
  /! begin #destaques-esportes
  section.destaques-categoria.area-esportes
    header
      h1
        == link_to "Esportes", "/esportes", title: "Esportes"
  
    .destaque.destaque-secundario
      == link_to "/esportes-detalhes" do
        span.foto
          == image_tag("destaque-esporte.jpg", width: 300, height: 170)
        span.conteudo
          p Acidente com ônibus deixa 30 feridos no RJ: ‘Ele veio voado’, diz motorista
    /! end .destaque-terciario
  
    .destaque.destaque-terciario
      == link_to "/esportes-detalhes" do
        span.foto
          == image_tag("secundaria-esportes-01.jpg", width: 100, height: 65)
        span.conteudo
          p Acidente com ônibus deixa 30 feridos no RJ: ‘Ele veio voado’, diz motorista
    /! end .destaque-terciario
  
    .destaque.destaque-terciario
      == link_to "/esportes-detalhes" do
        span.foto
          == image_tag("secundaria-esportes-02.jpg", width: 100, height: 65)
        span.conteudo
          p Acidente com ônibus deixa 30 feridos no RJ: ‘Ele veio voado’, diz motorista
    /! end .destaque-terciario
  /! end #destaques-esportes
  
  
  
  /! begin #destaques-entretenimento
  section.destaques-categoria.area-entretenimento
    header
      h1
        == link_to "Entretenimento", "/entretenimento", title: "Entretenimento"
  
    .destaque.destaque-secundario
      == link_to "/entretenimento-detalhes" do
        span.foto
          == image_tag("destaque-entretenimento.jpg", width: 300, height: 170)
        span.conteudo
          p Acidente com ônibus deixa 30 feridos no RJ: ‘Ele veio voado’, diz motorista
    /! end .destaque-terciario
  
    .destaque.destaque-terciario
      == link_to "/entretenimento-detalhes" do
        span.foto
          == image_tag("secundaria-entretenimento-01.jpg", width: 100, height: 65)
        span.conteudo
          p Acidente com ônibus deixa 30 feridos no RJ: ‘Ele veio voado’, diz motorista
    /! end .destaque-terciario
  
    .destaque.destaque-terciario
      == link_to "/entretenimento-detalhes" do
        span.foto
          == image_tag("secundaria-entretenimento-02.jpg", width: 100, height: 65)
        span.conteudo
          p Acidente com ônibus deixa 30 feridos no RJ: ‘Ele veio voado’, diz motorista
    /! end .destaque-terciario
  /! end #destaques-entretenimento
/! end #content-inner